name: CI

on:
  workflow_dispatch:
  pull_request:
    paths-ignore:
      - 'README.md'
  push:
    paths-ignore:
      - 'README.md'
    branches:
      - main
    tags:
      - "v*.*.*.*"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions: {}

jobs:
  lint:
    name: Lint
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  llvm-version:
    name: Get LLVM version to build
    needs: lint
    runs-on: ubuntu-slim
    permissions:
      contents: read
    outputs:
      version: ${{ steps.llvm-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Get LLVM version
        id: llvm-version
        run: echo "version=$(cat llvm-version)" >> $GITHUB_OUTPUT

  bootstrap:
    name: Build x86_64 bootstrap artifact
    needs: llvm-version
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        id: setup-buildx
      - name: Cache Docker cache mounts
        if: ${{ github.ref_type != 'tag' }}
        uses: actions/cache@v5  # zizmor: ignore[cache-poisoning]
        with:
          path: .cache/buildx-x86_64-bootstrap-cache-mounts
          key: buildx-x86_64-bootstrap-cache-mounts-${{ github.sha }}
          restore-keys: |
            buildx-x86_64-bootstrap-cache-mounts-
      - name: Restore Docker cache mounts
        if: ${{ github.ref_type != 'tag' }}
        uses: reproducible-containers/buildkit-cache-dance@5b81f4d29dc8397a7d341dba3aeecc7ec54d6361 # v3.3.0
        with:
          builder: ${{ steps.setup-buildx.outputs.name }}
          cache-dir: .cache/buildx-x86_64-bootstrap-cache-mounts
      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/amd64
          push: false
          build-args: |
            LLVM_VERSION=${{ needs.llvm-version.outputs.version }}
          target: bootstrap_artifact
          tags: static-clang-bootstrap:latest
          outputs: type=tar,dest=./bootstrap_artifact.tar
      - name: Compress bootstrap artifact
        run: xz -z bootstrap_artifact.tar
      - name: Upload bootstrap artifact
        uses: actions/upload-artifact@v6
        with:
          name: bootstrap_artifact
          path: ./bootstrap_artifact.tar.xz
          if-no-files-found: error
          retention-days: 1

  build_image:
    name: Build ${{ matrix.platform }} image
    needs: [bootstrap, llvm-version]
    runs-on: ubuntu-latest
    permissions:
      packages: write # push to ghcr.io
      contents: read
    strategy:
      fail-fast: false
      matrix:
        platform:
          - 386
          - amd64
          - arm
          - arm64
          - loong64
          - ppc64le
          - riscv64
          - s390x

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up QEMU
        if: matrix.platform != 'amd64'
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        id: setup-buildx
      - name: Download bootstrap artifact
        uses: actions/download-artifact@v7
        with:
          name: bootstrap_artifact
      - name: Cache Docker cache mounts
        if: ${{ github.ref_type != 'tag' }}
        uses: actions/cache@v5  # zizmor: ignore[cache-poisoning]
        with:
          path: .cache/buildx-${{ matrix.platform }}-cache-mounts
          key: buildx-${{ matrix.platform }}-cache-mounts-${{ github.sha }}
          restore-keys: |
            buildx-${{ matrix.platform }}-cache-mounts-
      - name: Restore Docker cache mounts
        if: ${{ github.ref_type != 'tag' }}
        uses: reproducible-containers/buildkit-cache-dance@5b81f4d29dc8397a7d341dba3aeecc7ec54d6361 # v3.3.0
        with:
          builder: ${{ steps.setup-buildx.outputs.name }}
          cache-dir: .cache/buildx-${{ matrix.platform }}-cache-mounts
      - name: Build image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/${{ matrix.platform }}
          load: true
          push: false
          build-args: |
            LLVM_VERSION=${{ needs.llvm-version.outputs.version }}
            BOOTSTRAP_SOURCE=artifact
          tags: static-clang:latest
          outputs: type=local,dest=./binaries
      - name: Prepare Archive
        run: tar cf - -C binaries/opt --owner 0 --group 0 clang | xz -9e -T0 > "binaries/static-clang-linux-${MATRIX_PLATFORM}.tar.xz"
        env:
          MATRIX_PLATFORM: ${{ matrix.platform }}

      # TODO add some basic tests here

      - name: Upload archive
        uses: actions/upload-artifact@v6
        with:
          name: static-clang-${{ matrix.platform }}
          path: binaries/static-clang-linux-${{ matrix.platform }}.tar.xz
          if-no-files-found: error
      - name: Login to GitHub Container Registry
        if: github.event_name == 'push'
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push image by digest
        if: github.event_name == 'push'
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          platforms: linux/${{ matrix.platform }}
          push: true
          build-args: |
            LLVM_VERSION=${{ needs.llvm-version.outputs.version }}
            BOOTSTRAP_SOURCE=artifact
          outputs: type=image,name=ghcr.io/${{ github.repository_owner }}/static-clang,push-by-digest=true,name-canonical=true,push=true
      - name: Export digest
        if: github.event_name == 'push'
        run: |
          mkdir -p /tmp/digests
          digest="${STEPS_BUILD_OUTPUTS_DIGEST}"
          touch "/tmp/digests/${digest#sha256:}"
        env:
          STEPS_BUILD_OUTPUTS_DIGEST: ${{ steps.build.outputs.digest }}
      - name: Upload digest
        if: github.event_name == 'push'
        uses: actions/upload-artifact@v6
        with:
          name: digests-${{ matrix.platform }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    name: Merge image
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    permissions:
      packages: write # push to ghcr.io
      contents: read
    needs:
      - build_image
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Download digests
        uses: actions/download-artifact@v7
        with:
          path: /tmp/digests
          pattern: digests-*
          merge-multiple: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ghcr.io/${{ github.repository_owner }}/static-clang
          tags: |
            type=raw,value=edge
            type=pep440,pattern={{version}}
            type=pep440,pattern={{major}}.{{minor}}.{{patch}}
            type=pep440,pattern={{major}}.{{minor}}
            type=pep440,pattern={{major}}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Create manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf "ghcr.io/${GITHUB_REPOSITORY_OWNER}/static-clang@sha256:%s " *)

  release:
    name: Release
    if: github.ref_type == 'tag'
    runs-on: ubuntu-latest
    permissions:
      contents: write  # create release
    needs:
      - build_image
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: binaries
          pattern: static-clang-*
          merge-multiple: true
      - name: Create sha256sums
        run: sha256sum *.tar.xz > sha256sums.txt
        working-directory: binaries
      - name: Display shasums
        run: cat binaries/sha256sums.txt
      - name: Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: 'binaries/*'
